//Noto Sans TC
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
//Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.homepage {
    @media (min-width: 1920px) {
      $container-max-width: 1856px; // 設置最大寬度
      $grid-gutter-width: 24px; // gutter 寬度
      padding-left: 32px;
      padding-right: 32px;
    }
}

.inner-page {
    @media (min-width: 1400px) {
      $container-max-width: 1296px; // 設置內頁最大寬度
      $grid-gutter-width: 24px; // gutter 寬度
      padding-left: 312px; // margin
      padding-right: 312px;
    }
}
.inner-page-md {
    @media (max-width: 1920px) {
      max-width: 1296px;
      $grid-gutter-width: 24px; // gutter 寬度
      padding-left: 32px; // margin
      padding-right: 32px;
    }
}

.mobile-page {
@media (max-width: 576px) {
    $grid-columns: 4; // 設置手機版欄數
    $grid-gutter-width: 16px; // gutter 寬度
    padding-left: 12px;
    padding-right: 12px;
}
}

img{
    max-width: 100%;
    vertical-align: middle;
}

h1,h2,h3,h4,h5,h6,p{
    letter-spacing: 0.02em;
}

a{
    text-decoration: none;
    color: inherit;
}