.rwd-card{
    
    padding: 8px;
    border: 1px solid #D5D5DD;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    margin: -1px;
    transition: transform 0.3s ease, border 0.3s ease;

    min-width: 150px;
    &:hover{
        border: 2px solid #4D6AFF;
        transform: scale(1.1);
        margin: 0px;
    }
    .img{
        border-radius: 8px;
        overflow: hidden;
        width: 100%;
        height: auto;
        min-width: 151px;
        min-height: 151px;
        aspect-ratio: 1/1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include md{
            max-width: 392px;
            max-height: 392px;
        }
    }
    @include md{
        padding: 12px;
        max-width: 416px;
    }
}
.object-fit-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.favorite-position{
    top: 12px;
    right: 12px;
    @include lg{
        top: 32px;
        right: 32px;
    }
}
.follow-card{
     width: 160px;
     height: 160px;
     border-radius: 12px;
     overflow: hidden;
     @include md{
        width: 196px;
        height: 196px;
     }
}
.follow-card-m{
    margin-left: 56px;
    @include md{
        margin-left: 96px;
    }
    @include lg{
        margin-left: 0;
    }
}