.people-head{
    width: 32px;
    height: 32px;
    border-radius: 1000px;
}
.echelon{
    background-image: url(../images/avatar/avatar5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit:cover
}
.domino{
    background-image: url(../images/avatar/avatar1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit:cover
}
.tag{
     padding: 8px;
     font-weight: 500;
     font-size: 14px;
     background: #FFE6CC;
     color:#67677E ;
     border-radius: 4px;
}

.favorite-btn{
    min-width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2B2B2B;
    border-radius: 8px;
    &:hover{
        border: 1px solid #4D6AFF;
        color: #FFFFFF;
        background: #4D6AFF;
        .material-symbols-outlined {
            font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
            }
    }
}
// 
.btn-check:checked + .favorite-btn{
    border: 1px solid #4D6AFF;
    color: #FFFFFF;
    background: #4D6AFF;
    
    .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    }
}
.buy-btn{
    background: #2B2B2B;
    &:hover{
        background: #4D6AFF;
    }
    &:active{
        background: #4D6AFF;
    }
}
.sticky{
    @include md{
        top: 48px;
    }
}
::-webkit-scrollbar{display:none;}

.max-width-none{
    max-width: none;
}

.modal-close{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-card-img{
    width: 56px;
    height: 56px;
    border-radius: 8px;
    overflow: hidden;
}
.modal-visa-card{
    border-radius: 12px;
    padding: 32px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F3;
    border: 2px solid #F1F1F3;
    &:hover{
            background-color: #E5EAFF;
            border: 2px solid #E5EAFF;
            .visa-btn{
                background-color: #4D6AFF;
                border: 1px solid #4D6AFF;
            }
    }
    .visa-btn{
        position: absolute;
        top: 16px;
        left: 16px;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 1px solid #D5D5DD;
        background-color: white;
        &::after{
            content: "";
            width: 8px;
            height: 8px;
            background-color: white;
            border-radius: 10px;
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.btn-check:checked + .modal-visa-card, :not(.btn-check) + .modal-visa-card:active, .modal-visa-card:first-child:active, .modal-visa-card.active, .modal-visa-card.show{
    border: 2px solid #4D6AFF;
    background-color: #FFFFFF;
    .visa-btn{
        background-color: #4D6AFF;
        border: 1px solid #4D6AFF;
    }
  }

.add-visa{
    padding: 24px 0;
    text-align: center;
    border:1px dashed #B9B9C6;
    border-radius: 12px;
    &:hover{
        color: #4D6AFF;
        border:1px dashed #4D6AFF;
    }
    &:active{
        color: #4D6AFF;
        border:1px dashed #4D6AFF;
    }
}

.modal-mw{
    @include sm-md{
        max-width: 375px ;
    }
}
