.user-banner{
    height: 320px;
    background-image: url(../images/hero/hero1.png);
    background-repeat: no-repeat;
    // background-position: top;
    background-size: 540%;
    background-position: 50% 10%;
    @include sm-md{
        background-size: 130%;
        background-position: 8% 10%;
    }
}
.user-head{
    width: 64px;
    height: 64px;
    border: 1px solid #FFFFFF;
    border-radius: 1000px;
    overflow: hidden;
    @include md{
        width: 120px;
        height: 120px;
    }
}